

<%= form_for @note do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%#= form_for @note, class: "..." do |f| %>
<%#= form_for @note, html: { class: "..."  } do |f| %>
<!-- rails form html class -->
