<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class="masterhead clearfix">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <% if user_signed_in? %>
          <a class="nav-link active"><%= link_to "Home", home_path %></a>
          <a class="nav-link active"><%= link_to "All ideas", notes_path %></a>
          <a class="nav-link active"><%= link_to "New idea", new_note_path %></a>
          <a class="nav-link active"><%= link_to "Log out", destroy_user_session_path, method: :delete %></a>
        <% else %>
          <a class="nav-link active"><%= link_to "Welcome", root_path %></a> 
          <a class="nav-link active"><%= link_to "Log in", new_user_session_path %></a>
          <a class="nav-link active"><%= link_to "Sign up", new_user_registration_path %></a>
        <% end %>
      </nav>
    </header>


    <% flash.each do |name, error| %>
      <div class="<%= name %>">
        <%= error %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
